#fileChooser {
  display: block;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  text-align-last: center;
}

#filename {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 5vh;
}

/* Legend container in terms of risk level: color category, risk level name, and scale */
.legend-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 10px;
  /*background-color: #f4f4f4;*/
  background: transparent !important;
  border-radius: 5px;
}

.legend-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: auto;
  text-align: center;
  text-align-last: center;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/*.legend-range {
  font-weight: bold;
}*/

.legend-category {
  font-size: 16px;
  font-weight: bold;
}

/* Color coding styles */
.legend-color-green {
  background-color: #009a66;
}

.legend-color-blue {
  background-color: #3566cd;
}

.legend-color-yellow {
  background-color: #fde101;
}

.legend-color-orange {
  background-color: #ff6500;
}

.legend-color-red {
  background-color: #cb0032;
}

/* Sort button group */
.sort-btn-group {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.sort-dropdown {
  display: inline-block;
  position: relative;
}

.sort-btn {
  margin-right: 10px;
}

.sort-options {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
}

.sort-option {
  margin: 5px;
  border: 1px solid black;
  background-color: beige;
}

/* Filter button group */
.filter-btn-group {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.filter-dropdown {
  display: inline-block;
  position: relative;
}

.filter-btn {
  margin-right: 10px;
}

.filter-options {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
}

.filter-option {
  margin: 5px;
}

.filter-option-label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.filter-checkbox {
  margin-right: 5px;
}

/* Style the Dropdown Button */
.dropbtn {
  background-color: #f1f1f1;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 8px;
  border-radius: 4px;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  background-color: #f1f1f1;
}

/* Add a visual indicator for the toggled/pressed state */
.dropdown-content button.selected {
  background-color: #d3d3d3;
  color: black;
  font-weight: bold;
}

/* Non-clickable button style */
.dropdown-content button.disabled {
  background-color: transparent;
  color: grey;
  cursor: not-allowed;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #d3d3d3;
}


/* modal container */
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
}

.modal-actions button {
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.modal-actions button:last-child {
  background-color: #f44336;
}

.modal-actions button:hover {
  opacity: 0.8;
}


/* Legand container */
.legend-container {
  margin-top: 20px;
}

.legend-title,
.legend-range,
.legend-category {
  font-family: Arial, sans-serif;
  /* Replace with your preferred font */
  color: #333;
  /* Replace with your preferred color */
}

.legend-title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
  /* Updated margin */
  font-weight: bold;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 10px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 5px;
}

/* CSS for Descriptive Statistics Panel */
.statistics-panel {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* CSS for Descriptive Statistics Button */
.statistics-button {
  position: fixed;
  top: 20px;
  right: 200px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  cursor: pointer;
}