#tree_canvas {
    margin: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

#tree_display_container {
    display: flex;
    flex-direction: column;
    width: 75vw;
    background-color: beige;
    border-bottom: black solid 3px;
    border-right: black solid 3px;
    flex: 1;
    height: 100%;
}

.unselectableText {
    user-select: none;
}

#canvas {
    background-color: beige;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    flex: 1;
    height: 100%;
}

#reset_tree_buttons_div {
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset_buttons {
    background-color: lightgray;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.reset_buttons:hover {
    background-color: lightgrey;
}

#canvas_container {
    display: flex;
    /* flex-direction: column; */
    height: 75vh;
    width: 100%;
    margin: 0;
    padding: 0;
}