#tree_canvas {
    margin: 0;
    width: 100%;
}

.unselectableText {
    user-select: none;
}

#canvas {
    background-color: beige;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    flex: 1;
    height: 100%;
}

#reset_tree_buttons_div {
    text-align: center;
    margin: 15px auto auto;
}

.reset_buttons {
    display: inline-block;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.reset_buttons:hover {
    background-color: lightgrey;
}

#canvas_container {
    display: flex;
    height: 75vh;
    width: 100%;
    margin: 0;
    padding: 0;
}