#node_description_panel {
  background-color: ivory;
  border: gray solid 3px;
  width: 35vw;
  position: relative;
}

#node_description_panel.resizable {
  resize: horizontal;
  overflow: hidden;
  cursor: ew-resize;
}

#resize-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px; 
  height: 100%;
  cursor: ew-resize;
  background-color: transparent;
  z-index: 1;
}

#resize-handle:hover {
  cursor: ew-resize;
}

.node-panel,
.node-bottom-panel {
  font-size: 0.8vw;
  background-color: transparent;
  border-bottom: 2px solid gray;
}

.node-name {
  border-bottom: gray dashed 1px;
  font-size: 1vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
}

.node-info {
  overflow-y: auto;
  height: 75%;
}

.scrollable-panel {
  overflow-y: auto;
  max-height: 100vh;
  max-width: 70vw;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.highlight {
  animation: fadeIn 1.25s ease-in-out;
}

.external-link-icon {
  display: none;
  height: 10px;
  width: 10px;
  color: gray;
}
.info-block{
  margin-left: 1%;
  margin-bottom: 0.05%;
}

.info-block:hover .external-link-icon {
  display: inline-block;
}
