#node_description_panel {
    background-color: transparent;
    border: black solid 3px;
    width: 35vw;
}

.node-panel,
.node-bottom-panel {
    font-size: 0.8vw;
    background-color: transparent;
    border-bottom: 2px solid black;
}

.node-name {
    border-bottom: black dashed 1px;
    font-size: 1vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.node-info {
    overflow-y: auto;
    height: 75%;
}

.scrollable-panel {
    overflow-y: auto;
    max-height: 100vh;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

.highlight {
    animation: shake 1s ease-in-out;
}

.external-link-icon {
    display: none;
    height: 10px;
    width: 10px;
    color: black;
  }
  
  .info-block:hover .external-link-icon {
    display: inline-block;
  }
