#node_description_panel {
    background-color: lightcyan;
    border: black solid 3px;
    width: 35vw;
}

.node-panel,
.node-bottom-panel {
    font-size: 0.8vw;
    background-color: lightgreen;
    border-bottom: 2px solid black;
}

.node-name {
    border-bottom: black dashed 1px;
    font-size: 1vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.node-info {
    overflow-y: auto;
    height: 75%;
}

.scrollable-panel {
    overflow-y: auto;
    max-height: 100vh;
}

.highlight {
    background-color: #C2F0C2;
    position: relative;
}

.highlight::before,
.highlight::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; 
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.7);
}

.highlight::after {
    bottom: 0;
}
