@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button,
h3 {
  all: unset;
}

.ScrollArea {
  border-style: solid;
}

.AccordionRoot {
  border-radius: 6px;
  width: 300px;
  background-color: var(--mauve-6);
  box-shadow: 0 2px 10px var(--black-a4);
}

.AccordionTitle {
  padding: 5px;
}

.AccordionItem {
  overflow: hidden;
  margin-top: 1px;
}

.AccordionItem:first-child {
  margin-top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.AccordionItem:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.AccordionItem:focus-within {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 2px var(--mauve-12);
}

.AccordionHeader {
  display: flex;
}

.AccordionTrigger {
  font-family: inherit;
  background-color: transparent;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1;
  box-shadow: 0 1px 0 var(--mauve-6);
  border-radius: none;
}

.AccordionTrigger:hover {
  background-color: var(--mauve-2);
}

.AccordionContent {
  overflow: hidden;
  font-size: 15px;
  color: var(--mauve-11);
  background-color: var(--mauve-2);
}
.AccordionContent[data-state='open'] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
  padding: 15px 20px;
}

.AccordionChevron {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(180deg);
}

.SevereTitleCard {
  background-color: rgba(255, 0, 0, 0.300);
}
.HighTitleCard {
  background-color: rgba(255, 166, 0, 0.300);
}
.ModerateTitleCard {
  background-color: rgba(255, 255, 0, 0.300);
}
.MinorTitleCard {
  background-color: rgba(0, 0, 255, 0.300);
}
.InsignificantTitleCard {
  background-color: rgba(0, 128, 0, 0.300);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}


/* Descriptive Statistics Toggle Button */
.statistics-button {
    background-color: #4CAF50;
    position: absolute;
    top: 3vh;
    right: 1vw;
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.statistics-button:hover {
    background-color: #285e2a;
}
  
/* Descriptive Statistics Panel */
.statistics-panel.visible {
    padding: 16px;
    padding-top: 8px;
    bottom: 0;
    width: 20vw;
    height: 83.3vh;
    background-color: #f9f9f9;
    border: black solid 3px;
    border-left: none;
    box-shadow: none;
    overflow-y: scroll;
    z-index: 1;
}

.statistics-panel.invisible {
    display: none;
}

.statistics-panel.visible h4 {
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 18px;
    background-color: lightgray;
}

.statistics-panel.visible p {
    margin: 0;
    font-size: 14px;
    padding: 8px 12px;
}

.statistics-panel.visible button {
    border:none;
    cursor:pointer;
    float:right;
    padding:0px 5px;
    margin: 0px;

    background-color: #cb003300;
}

.statistics-panel.visible button:hover{
    background-color: #00000031;
}

.statistics-panel.visible .additionalDetailsBtn{
    border-radius:5px;
    cursor:pointer;
    padding:0px;
    margin: 0px;

    float: left;

    text-decoration-line: none;

    font-weight: bold;
    font-size: 0.9em;

    background-color: #cb003300;
}

.additionalDetailsList{
    margin-left: 15px;
    text-wrap: wrap;
    word-wrap: break-word;
}

/* Colors for each risk level */
.SevereLevelCard {
    background-color: rgba(255, 0, 0, 0.497);
}
.Severe-Level-Droplist {
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.321);
}

.HighLevelCard {
    background-color: rgba(255, 166, 0, 0.715);
}
.High-Level-Droplist {
    padding: 5px;
    background-color: rgba(255, 166, 0, 0.422);
}

.ModerateLevelCard {
    background-color: rgba(243, 236, 102, 0.61);
}
.Moderate-Level-Droplist{
    padding: 5px;
    background-color: rgba(243, 236, 102, 0.411);
}

.MinorLevelCard {
    background-color: rgba(0, 136, 255, 0.4);
}
.Minor-Level-Droplist{
    padding: 5px;
    background-color: rgba(0, 136, 255, 0.297);
}

.InsignificantLevelCard {
    background-color: rgba(0, 128, 0, 0.437);
}
.Insignificant-Level-Droplist{
    padding: 5px;
    background-color: rgba(0, 128, 0, 0.308);
}

.dropBox {
    padding-top: 5px;
    padding-bottom: 10px;
    
    border-bottom: black dashed 1px;

}

.Severe-Level-Droplist dt,
.High-Level-Droplist dt,
.Moderate-Level-Droplist dt,
.Minor-Level-Droplist dt,
.Insignificant-Level-Droplist dt{  
    font-size: 16px;
    margin-left: 5px;
    margin-top: 0px;

    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    word-wrap: break-word;
}

.Severe-Level-Droplist button,
.High-Level-Droplist button,
.Moderate-Level-Droplist button,
.Minor-Level-Droplist button,
.Insignificant-Level-Droplist button {
    font-size:smaller;
    text-decoration-line: underline;
    float:right;
}

.Severe-Level-Droplist dd,
.High-Level-Droplist dd,
.Moderate-Level-Droplist dd,
.Minor-Level-Droplist dd,
.Insignificant-Level-Droplist dd{
    display: list-item;
    list-style-type: disc;
    margin-left: 25px;
    margin-bottom: 0px;
    text-wrap: balance;
}

.Severe-Level-Droplist p,
.High-Level-Droplist p,
.Moderate-Level-Droplist p,
.Minor-Level-Droplist p,
.Insignificant-Level-Droplist p {
    padding-left: 5px;
}