@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

/* reset */
button,
h3 {
  all: unset;
}

.Level--AccordionRoot {
  border-radius: 0; /* No rounded corners for the accordion container */
  width: 30vw; /* Adjust width as needed */
  background-color: var(--mauve-6);
  /* box-shadow: 0 2px 10px var(--black-a4); */
  margin: 1px 0; /* Adjust spacing between each accordion for clarity */
}

.Level--AccordionItem {
  overflow: hidden;
  margin-top: 1px;
  border-radius: 0; /* No rounded corners for each item */
}

.Level--AccordionItem:focus-within {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 2px var(--mauve-12);
}

.Level--AccordionHeader {
  display: flex;
}

.Level--AccordionTrigger {
  font-family: inherit;
  background-color: transparent;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  /* box-shadow: 0 1px 0 var(--mauve-6); */
  background-color: white;
  border-radius: 0;
  border-bottom: solid 1px;
  cursor: pointer; /* Ensure it's clear this element is interactive */
}

.Level--AccordionTrigger.disabled {
  color: gray;
  border-bottom-color: var(--violet-11);
  cursor: default;
  text-overflow: clip;
}

.Level--AccordionTrigger:hover {
  background-color: var(--mauve-2);
}

.Level--AccordionContent {
  font-size: 15px;
  color: var(--mauve-11);
  background-color: var(--mauve-2);
  overflow-x: hidden;
  padding-left: 20px; /* Indent content to emphasize nesting */
}

.Level--AccordionContent[data-state="open"],
.Level--AccordionContent[data-state="closed"] {
  animation: none; /* If you prefer to remove the slide animations */
}

.Level--AccordionContentText {
  padding: 15px 20px;
}

.Level--AccordionChevron {
  transition: transform 0.2s ease-in-out;
}

.Level--AccordionTrigger[data-state="open"] .Level--AccordionChevron {
  transform: rotate(180deg); /* Indicates the item is open */
}

/* Nested Accordion Styles */
.Level--AccordionRoot .Level--AccordionRoot {
  background-color: var(--mauve-5);
  width: calc(100% - 20px);
  margin-left: 20px;
}

.Level--AccordionRoot .toggle-button-container {
  display: flex;
  justify-content: flex-end;
}

button.toggle-button {
  background-color: transparent;
  color: #000000;
  border: none;
  padding: 0;
  cursor: pointer;
}

button.toggle-button .chevron-icon {
  width: 35px; /* Adjusts for x-positioning */
  color: gray;
}
