#node_description_panel {
    background-color: lightcyan;
    border: black solid 3px;
    border-right: none;
    width: 35vw;
}

.node-panel {
    font-size: 0.8vw;
    background-color: lightgreen;
    border-bottom: black solid 2px;
}

.node-bottom-panel {
    font-size: 0.8vw;
    background-color: lightgreen;
}

.node-name {
    border-bottom: black dashed 1px;
    font-size: 1vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.node-info {
    overflow-y: auto;
    height: 75%;
}

.scrollable-panel {
    overflow-y: auto;
    max-height: 100vh; 
  }
  
