#node_description_panel {
    background-color: lightcyan;
    border: black solid 3px;
    width: 35vw;
}

.node-panel {
    height: 20%;
    font-size: 0.8vw;
    background-color: lightgreen;
    border-bottom: black solid 2px;
}

.node-bottom-panel {
    height: 20%;
    font-size: 0.8vw;
    background-color: lightgreen;
}

.node-name {
    border-bottom: black dashed 1px;
    font-size: 1vw;
    text-align: center;
    font-weight: bold;
}