#tree_canvas {
    margin: 0;
    width: 100%;
}

.unselectableText {
    user-select: none;
}

#canvas {
    background-color: beige;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    flex: 1;
    height: 100%;
}

button {
    display: block;
    margin: 10px auto auto;
}

#reset_buttons {
    display: block;
    margin: 10px auto auto;
}

#canvas_container {
    display: flex;
    height: 75vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.description_clickers {

}